{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT Marketplace</title>
    <link rel="icon" href="{% static "img/icon.svg" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    {% include "components/header.html" %}

    {% block nav %}

    {% endblock nav %}


    <main class="main main_diteil">
        <div class="container">
            {% block main %}
            
            {% endblock main %}
        </div>
    </main>

    {% block mian2 %}
    
    {% endblock mian2 %}

    
    {% include "components/footer.html" %}

    <script src="{% static "js/app.js" %}"></script>
</body>
</html>